@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Md. Abdul Ahad Chowdhury<br />
    Dhaka, Bangladesh<br />
    <abbr title="Website">W:</abbr>
    <a href="http://maacpiash.com" target="_blank">maacpiash.com</a>
</address>

<address>
    <strong>Email 1:</strong> <a href="mailto:root@maacpiash.com">root@maacpiash.com</a><br />
    <strong>Email 2:</strong> <a href="mailto:maacpiash@outlook.com">maacpiash@outlook.com</a>
</address>
